@model LogInViewModel
@{
    ViewData["Title"] = "LogIn";
}

<h2>LogIn</h2>

<form method="post" asp-action="LogIn" asp-controller="Account">
    <div asp-validation-summary="All"></div>
    <div>
        <label asp-for="Email"></label>
        <input asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </div>
    <div>
        <label asp-for="Password"></label>
        <input asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>
    <div>
        <label asp-for="RememberMe"></label>
        <input asp-for="RememberMe" />
        <span asp-validation-for="RememberMe"></span>
    </div>
    <div>
        <button type="submit">Log In</button>
        <a asp-action="Register">Register</a>
    </div>
</form>